<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <header>    
        <h1 class="aligned-h1">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                </svg>
            To Do List
        </h1>
    </header>
    <div class="container">
        
            <!--To print today's date-->
            <%const currentDate = new Date();%>
            <%const year = currentDate.getFullYear();%>
            <%const month = currentDate.toLocaleString('default', { month: 'long' });%>
            <%const date = currentDate.getDate();%>
            <%const day = currentDate.toLocaleString('default', { weekday: 'long' });%>
            <h2>Add Notes</h2>

            <!--EJS code to get the data passed through object by index.js and display them to the user.-->
            <h5>Date: <%= day + ", " + month + " " + date + " " + year%></h3>
                <% if(locals.notes) { %>
                    <% notes.forEach(function(note) {%>
                        <form method="POST" action="/delete">
                            <input type="checkbox" name="checkbox" value="<%=note._id%>" onchange="this.form.submit()"  />
                            <input type="text" value="<%= note.notes%>" disabled /><br />
                        </form>
                        <% }); %>
                <% } %> 
        <form method="POST" action="/add">        
            <input type="text" name="note" placeholder="Add a note."/><br />

            <button type="submit" class="add">+</button>
        </form>
    </div>
    
    <footer>
        <p>© Prashant Bajracharya. All Rights Reserved.</p>
    </footer>
</body>
</html>